@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1100px) {
    .header__links{
        font-size: 16px !important;
    }
    .header__button{
        font-size: 18px !important;
        padding: 7px 20px !important;
    }
}